/* background-img */
.img-bg {
  margin-top: 0px;
  width: 1440px;
  background-image: url(/public/images/bg-img.png);
  background-position: center center;
  height: 740px;
  z-index: -1;
}

/* Header */
.header {
  po
 width: 1250px;
 position: relative;
 top: 26px;
}

.header-logo{
position: absolute;
}

.header-nav {
}
