.wrapper {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 1440px;
}

.img-bg {
  position: relative;
  margin-top: 0px;
  width: 1440px;
}
.img-bg div {
  background-image: url(/public/images/bg-img.png);
  background-position: center center;
  height: 740px;
  z-index: -1;
}