.wrapper {
  box-sizing: border-box;
  max-width: 1440px;

}
.container {
  width: 1250px;
}
/* background-img */
.img-bg {
  margin-top: 0px;
  width: 1440px;
  background-image: url(/public/images/bg-img.png);
  background-position: center center;
  height: 740px;
  z-index: -1;
}

/* Header */
.header {
 width: inherit;
 position: relative;  
}

.header-logo a img{

}

.header-nav {
}
