@media only screen and (max-width: 767px) {
  body {
    font-size: 13px;
    font-family: "Poppins", sans-serif, "Work Sans";
  }
}

.wrapper {
}

.standard-header {
  position: relative;
  width: 1440px;
}
.img-bg img {
  position: absolute;
  width: 100%;
}