@media only screen and (max-width: 767px) {
  body {
    font-size: 13px;
    font-family: "Poppins", sans-serif, "Work Sans";
  }
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper-header {
  position: relative;
  max-width: 1250px;
}
.img-bg img {
  width: 1440px;
  height: 740px;
}

.header-nav {
  max-width: 1250px;
  padding: 10px 95px 0px;
  display: flex;
  justify-content: space-between;

}