/* background-img */
.img-bg {
  margin-top: 0px;
  width: 1440px;
  background-image: url(/public/images/bg-img.png);
  background-position: center center;
  height: 740px;
}

/* Header */
.header {
  width: 1250px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: ;
}

.header-logo a img{

}

.header-menu {
}
