.wrapper {
  box-sizing: border-box;
  max-width: 1440px;

}
.container {
  position: relative;
  width: 1250px;
}
/* background-img */
.img-bg {
  margin-top: 0px;
  width: 1440px;
  background-image: url(/public/images/bg-img.png);
  background-position: center center;
  height: 740px;
  z-index: -1;
}

/* Header */
.header {
 
  
}

.header-logo {
  position: fixed;
  width: 100%;
  top: 26px;
  padding: 0 95px;
}

.header-nav {
  position: fixed;
  width: 100%;
  top: 26px;
  padding: 0 95px;
}
