/* background-img */
.img-bg {
  margin-top: 0px;
  width: 1440px;
  background-image: url(/public/images/bg-img.png);
  background-position: center center;
  height: 740px;
}

/* Header */
.header {
  width: 1250px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 95px 0;
}
.header-menu{
dis
}
.header-menu-list{

}
.header-menu-item{

}
