@media only screen and (max-width: 767px) {
  body {
    font-size: 13px;
    font-family: "Poppins", sans-serif, "Work Sans";
  }
}

.wrapper {
  width: 1440px;
}

.standard-header {
  position: relative;
  width: 1440px;
}
.img-bg img {
  position: absolute;
  width: 100%;
  height: 740px;
  padding: 75px;
}