@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

$color-white: #fff;
$color-red: red;
$color-manatee: #8d9199;

.app-container {
  // mobile
  padding: 0 20px;
  @include media-breakpoint-down(md){
    .destination-grid,
    .destination-grid2 {
      display: block;
    }
    .layout {
      // display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 80px;
      margin-bottom: 82px;
    }
    .layout-item {
      display: block;
      text-align: center;
      width: 100%;
    }
    
    .layout-item h4 strong{
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      text-align: center;
    }
    
    .layout-item p {
      color: #222222;
      font-family: 'Work sans';
      font-size: 15px;
      line-height: 1.7;
      padding: 11px 0 20px 0;
      text-align: center;
      margin: 0;
    }
    
    .layout-img {
      width: 150px;
      height: 150px;
      margin: 11px 0 20px 0;
    }
  }
  // tablet portrait
  @include media-breakpoint-up(md) {
    padding-inline: 30px;
  }

  // tablet landscape
  @include media-breakpoint-up(lg) {
    max-width: 960px;
    padding-inline: 0;
    margin: auto;
    line-height: 1.6;
  }

  // desktop
  @include media-breakpoint-up(xl) {
    max-width: 1425px;
    padding-inline: 90px;
    margin: auto;
  }
}

/* Features Block */
.feature1 {
  text-align: center;
}

.standard-wrapper-title,
.feature1-content {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.feature1-content {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 44px;
}

.feature1-content h2 {
  letter-spacing: 0px;
  text-transform: none;
  margin: 0;
}

.standard-wrapper-tagline-feature1 {
  color: $color-manatee;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
}

.destination-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.destination-grid-item{
  @include media-breakpoint-down(md){
  margin-right: 0;
  }
  @include media-breakpoint-up(md){
    margin-right: 30px;
  }
  height: 300px;
  margin-bottom: 25px;
  position: relative;
  h3 {
    position: absolute;
    color: $color-white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    bottom: 5px;
    left: 30px;
  }
}

.destination-grid-img{
  border-radius: 5px;
  height: 300px;
  width: 250px;
  object-fit: cover;
}

.destination-grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.destination-grid-item2{
  @include media-breakpoint-down(md){
    margin-right: 0;
    }
    @include media-breakpoint-up(md){
      margin-right: 30px;
    }
    // box-shadow: 10px 10px;
  height: 300px;
  margin-bottom: 25px;
  border: 0.5px solid #222;
  border-radius: 5px;
  position: relative;
  .tour-price {
    position: absolute;
    width: 73px;
    height: 31px;
    background-color: #ff4a52;
    color: $color-white;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.7;
    padding: 3px 10px 2px;
    top: 145px;
  }
}



.destination-grid-img2 {
  border-radius: 5px;
  height: 185px;
  width: 100%;
  object-fit: cover;
}

.portfolio{
  margin: 0;
  padding: 5px 15px 15px 15px;
  text-align: left;
}

.review {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate, .tour-days {
  color: #222;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 600;
  span{
  color: #1EC7B6;
}
}

.count-review {
  display: inline;
}

.destination-grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.destination-grid-item3{
  width: 100%;
  height: 322px;
  margin: 0 49.8px 70px 0;
}

.layout {

  justify-content: center;
  align-items: center;
  column-gap: 80px;
  margin-bottom: 82px;
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.layout-item {
  display: block;
  text-align: center;
  width: 33.33%;
}

.layout-item h4 strong{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.layout-item p {
  color: #222222;
  font-family: 'Work sans';
  font-size: 15px;
  line-height: 1.7;
  padding: 11px 0 20px 0;
  text-align: center;
  margin: 0;
}

.layout-img {
  width: 150px;
  height: 150px;
  margin: 11px 0 20px 0;
}

.whychooseus {
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.8;
  }
  div {
    color: #8d9199;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
  }
  display: block;
  text-align: center;
}

.layout-item2{
  @include media-breakpoint-down(md){
    width: 280px;
    height: 100%;
    margin-bottom: 10px;
  }
  width: 392.2px;
  height: 502.7px;
  border: 1px solid #dce0e0;
  border-radius: 5px;
}
.layout-img2{
  @include media-breakpoint-down(md){
    width: 280px;
    height: 185px;
    position: relative;
    
  }
  width: 392.2px;
  height: 260px;
}
.read-more{
  margin-top: 0;
}
.trip-details{
  padding: 0 30px;
  text-align: left;
  .read-more a {
    color: #8F8F8F;
    font-size: 15px;
    line-height: 1.7;
  }
  a{
    text-decoration: none;
    color: #060606;
  }
  p{
    padding: 11px 0 20px 0;
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    opacity: 0.7;
    }
    h6 {
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      margin-top: 6px;
    }
}

.trip-details a{
  color: #090909;
  }

.trip-details {
  div {
    margin-top: 0;
  }
div a {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20.4px;
  text-transform: uppercase;
  margin-top: 30px;
}
}

.bridge img{
  height: 257px;
  width: 100%;
}