@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

$color-white: #fff;
$color-red: red;
$color-manatee: #8d9199;

.app-container {
  // mobile
  padding: 0 20px;

  // tablet portrait
  @include media-breakpoint-up(md) {
    padding-inline: 30px;
  }

  // tablet landscape
  @include media-breakpoint-up(lg) {
    max-width: 960px;
    padding-inline: 0;
    margin: auto;
  }

  // desktop
  @include media-breakpoint-up(xl) {
    max-width: 1425px;
    padding-inline: 90px;
    margin: auto;
  }
}

/* background-img */
.img-bg {
  height: 640px;
  margin-top: 0;
  background-image: url('../../public/images/bg-img.png');
  background-position: center center;
}

/* inner content */

.center-wrapper {
  margin-top: 91px;
  text-align: center;
}

.inner-content {
}

.standard-wrapper {
  margin: 0 auto;
}

.standard-wrapper-title {
  color: $color-white;
  letter-spacing: 0;
  margin-bottom: 0;
}

.standard-wrapper-tagline {
  color: $color-white;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
  display: inline-block;
  opacity: 0.8;
}

.tour-search{
  padding: 20px 20px 0;
  position: relative;
}

.tour-search-advance {
  position: absolute;
  left: 13%;
  text-align: center;
}

.tour-search-advance a {
  text-decoration: none;
  color: $color-white;
}

.input-inner {
  position: relative;
}

.tour-search-wrapper {
  svg {
    position: absolute;
  }

  .ion-icon {
    color: red;
  }
}

.one-fourth {
  display: inline-block;
  color: red;
}

.input-inner {
  width: 280px;
  height: 37px;
}

.one-fourth div {
  display: inline-block;
}

#month {
  width: 280px;
  height: 37px;
}

#sort-by {
  width: 280px;
  height: 37px;
}
/* Features Block */
.feature1 {
  text-align: center;
}

.standard-wrapper-title,
.featuer1-content {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.featuer1-content {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 44px;
}

.featuer1-content h2 {
  letter-spacing: 0px;
  text-transform: none;
  margin: 0;
}

.standard-wrapper-tagline-feature1 {
  color: $color-manatee;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  text-align: center;
}

.destination-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.destination-grid-item{
  height: 300px;
  margin-right: 30px;
  margin-bottom: 25px;
  position: relative;
}

.destination-grid-item h3 {
  position: absolute;
  color: $color-white;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  bottom: 5px;
  left: 17px;
}

.destination-grid-img{
  border-radius: 5px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.destination-grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.destination-grid-item2{
  height: 386px;
  margin-right: 30px;
  margin-bottom: 25px;
  border: 0.5px solid #222;
  border-radius: 5px;
  a {
    position: relative;
  }
}

.destination-grid-img2 {
  border-radius: 5px;
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.tour-price {
  position: absolute;
  width: 73px;
  height: 31px;
  background-color: #ff4a52;
  color: $color-white;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.7;
  padding: 3px 10px 2px;
  bottom: -111px;
  // vertical-align: middle;
}

.portfolio{
  margin: 0;
  padding: 5px 15px 15px 15px;
  text-align: left;
}

.review {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate, .tour-days {
  color: #222;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 600;
  span{
  color: #1EC7B6;
}
}

.count-review {
  display: inline;
}

.destination-grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.destination-grid-item3{
  width: 100%;
  height: 322px;
  margin: 0 49.8px 70px 0;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
}

.layout-item {
  display: block;
  text-align: center;
  width: 33.33%;
}

.layout-item h4 strong{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.layout-item p {
  color: #222222;
  font-family: 'Work sans';
  font-size: 15px;
  line-height: 1.7;
  padding: 11px 0 20px 0;
  text-align: center;
  margin: 0;
}

.layout-img {
  width: 150px;
  height: 150px;
  margin: 11px 0 20px 0;
}

.whychooseus {
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.8;
  }
  div {
    color: #8d9199;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
  }
  display: block;
  text-align: center;
}

.layout-item2{
  width: 392.2px;
  height: 502.7px;
}
.layout-img2{
  width: 392.2px;
  height: 260px;
}

.trip-details{
  padding: 0 30px;
  text-align: left;
}
.trip-details a{
  text-decoration: none;
color: #060606;
  
}
.trip-details h6 a {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}
.trip-details p{
color: #222222;
}

.trip-details a{
  color: #090909;
  }

.trip-details div {

}

.trip-details div a {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20.4px;
  text-transform: uppercase;
}

.bridge img{
  height: 257px;
  width: 100%;
}