@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.bridge {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

@include media-breakpoint-up(xl) {
  img {
    height: 406px;
  }
}

@include media-breakpoint-down(xl) {
  img {
    max-height: 185.4px;
  }
}
