@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$color-white: #fff;
$color-red: #ff4a52;
$MainFont: "Poppins", Arial, Helvetica, sans-serif;
$color-black: #000;

.featurearticle-content:hover {
  background: $color-white;
  box-shadow: 0px 15px 26px #ccc;
  transform: translateY(-10px);
  transition: all 0.2s ease-in;
}

//Mobile
@include media-breakpoint-down(md) {
  .featurearticle-wrapper {
    width: 100%;
    height: auto;
  }

  .featurearticle-title {
    padding-block: 30px;
    text-align: center;
    h2 {
      color: $color-black;
      font-family: $MainFont;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3;
      margin: 10px 0 0;
    }
    div {
      color: #8d9199;
      display: inline-block;
      font-family: $MainFont;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.7;
      opacity: 0.8;
    }
  }

  .featurearticle-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;
  }

  .featurearticle-content {
    width: 100%;
    height: auto;
    border: 1px solid #dce0e0;
    border-radius: 5px;
    margin-bottom: 7px;
    padding-bottom: 30px;
  }

  .featurearticle-img {
    width: 100%;
    height: auto;
    min-height: 0;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 20px;
  }

  .post-details {
    padding-inline: 29px;
    p {
      padding-block: 10.5px 19.5px;
    }
    .post-details-day {
      margin-bottom: 5px;
      a {
        text-decoration: none;
        color: $color-black;
        font-family: $MainFont;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.7;
      }
    }
    .post-details-h6 {
      a {
        font-family: $MainFont;
        text-decoration: none;
        color: $color-black;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
      }
    }
    .post-details-p {
      color: #222;
      font-size: 15px;
      line-height: 1.7;
      font-family: "Work Sans", Arial, Helvetica, sans-serif;
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  .read-more {
    margin-top: 15px;
    a {
      color: #222;
      font-family: $MainFont;
      font-size: 15px;
      line-height: 1.7;
      text-decoration: none;
      opacity: 0.4;
      font-weight: 400;
    }
  }
}

//Tablet
@include media-breakpoint-up(md) {
  .featurearticle-wrapper {
    width: 100%;
    height: auto;
  }

  .featurearticle-title {
    padding-block: 40px;
    text-align: center;
    h2 {
      color: $color-black;
      font-family: $MainFont;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.3;
      margin: 10px 0 0;
    }
    div {
      color: #8d9199;
      display: inline-block;
      font-family: $MainFont;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.7;
    }
  }

  .featurearticle-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;
    margin-bottom: 20px;
  }

  .featurearticle-content {
    width: 31.45%;
    height: 100%;
    border: 1px solid #dce0e0;
    border-radius: 5px;
  }

  .featurearticle-img {
    width: 100%;
    height: auto;
    min-height: 0;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .post-details {
    padding-inline: 30px;
    p {
      padding-block: 10.5px 19.5px;
    }
    .post-details-day {
      margin-bottom: 5px;
      a {
        text-decoration: none;
        color: $color-black;
        font-family: $MainFont;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.4;
      }
    }
    .post-details-h6 {
      a {
        font-family: $MainFont;
        text-decoration: none;
        color: $color-black;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
      }
    }
    .post-details-p {
      color: #222;
      font-family: 'Work San', Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.7;
      padding-block: 10px 0 19px;
      font-weight: 100;
      margin-bottom: 0;
    }
  }

  .read-more {
    padding-bottom: 30px;
    margin-top: 15px;
    a {
      color: #222;
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.7;
      text-decoration: none;
      opacity: 0.5;
      font-weight: 300;
    }
  }
}
//Laptop 1024px
@include media-breakpoint-up(lg) {
  .featurearticle-wrapper {
    width: 100%;
    height: auto;
  }

  .featurearticle-title {
    padding-block: 60px 50px;
    text-align: center;
    h2 {
      color: $color-black;
      font-family: $MainFont;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.3;
      margin: 10px 0 0;
    }
    div {
      color: #8d9199;
      display: inline-block;
      font-family: $MainFont;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.7;
    }
  }

  .featurearticle-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 23px;
    margin-bottom: 70px;
  }

  .featurearticle-content {
    width: 31.6%;
    height: 100%;
    border: 1px solid #dce0e0;
    border-radius: 5px;
  }

  .featurearticle-img {
    width: 100%;
    height: auto;
    min-height: 0;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .post-details {
    padding-inline: 30px;
    padding-block: 10.5px 30px;
    .post-details-day {
      margin-bottom: 5px;
      a {
        text-decoration: none;
        color: $color-black;
        font-family: $MainFont;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.4;
      }
    }
    .post-details-h6 {
      a {
        font-family: $MainFont;
        text-decoration: none;
        color: $color-black;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.4;
      }
    }
    .post-details-p {
      color: #222;
      font-family: 'Work San', Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.6;
      font-weight: 100;
    }
  }

  .read-more {
    margin-top: 15px;
    padding-bottom: 0;
    a {
      color: #222;
      font-family: $MainFont;
      font-size: 15px;
      line-height: 1.7;
      text-decoration: none;
      font-weight: 300;
      opacity: 0.5;
      padding-right: 5px;
    }
    i {
      padding-left: 5px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}

// Laptop L 1440px
@include media-breakpoint-up(xl) {
  .featurearticle-wrapper {
    width: 100%;
    height: auto;
  }

  .featurearticle-title {
    padding-block: 70px 50px;
    text-align: center;
    h2 {
      color: $color-black;
      font-family: $MainFont;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.3;
      margin: 10px 0 0;
    }
    div {
      color: #8d9199;
      display: inline-block;
      font-family: $MainFont;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.7;
    }
  }

  .featurearticle-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 23px;
    margin-bottom: 80px;
  }

  .featurearticle-content {
    width: 32.1%;
    height: 100%;
    border: 1px solid #dce0e0;
    border-radius: 5px;
  }

  .featurearticle-img {
    width: 100%;
    height: auto;
    min-height: 0;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .post-details {
    padding-inline: 30px;
    padding-block: 10.5px 30px;
    .post-details-day {
      margin-bottom: 5px;
      a {
        text-decoration: none;
        color: $color-black;
        font-family: $MainFont;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.4;
      }
    }
    .post-details-h6 {
      a {
        font-family: $MainFont;
        text-decoration: none;
        color: $color-black;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
      }
    }

    .post-details-p {
      color: #222;
      font-family: 'Work San', Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.7;
      font-weight: 100;
      text-align: left;
    }
  }

  .read-more {
    margin-top: 15px;
    padding-bottom: 0;
    a {
      color: #222;
      font-family: $MainFont;
      font-size: 15px;
      line-height: 1.7;
      text-decoration: none;
      font-weight: 300;
      opacity: 0.5;
      padding-right: 5px;
    }

    i {
      padding-left: 5px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}
