/* Header */
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.fa-shopping-cart{
  color: #fff;
}



$color-white: #fff;

.header-wrapper {
  padding-block: 30px;
  @include media-breakpoint-down(md) {
    padding-top: 15px;
    height: 500px;
  }

  @include media-breakpoint-up(md) {
    height: 740px;
    padding-inline: 30px;
    padding-top: 20px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 20px;
  }
}
.videobg {
  @include media-breakpoint-down(md) {
    width: 100%;
    height: 500px;
  }
  @include media-breakpoint-up(md) {
    width: 100%;
    height: 740px;
  }
  position: absolute;
  margin-top: 0;
  z-index: -1;
  object-fit: cover;
}

.header-logo {
  img {
    width: 92px;
    height: 22px;
  }
}

.header {
  background: transparent;
  border-bottom: 0;
  border-color: #dce0e0;
}

@include media-breakpoint-down(md) {
  .header-nav {
    display: flex;
    width: 100%;
    padding: 0 30px 34px 30px;
    .header-logo {
      width: 50%;
    }

    .header-laptop-nav {
      display: none;
    }

    .header-nav-menu-mobile {
      width: 50%;
      text-align: right;
      .header-mobile-nav-btn {
        color: #fff;
        background-color: transparent;
        border: 0;
      }

      // a {
      //   color: #fff;
      // }
      .header-cart-wrapper {
        position: relative;
        display: inline-block;
        margin-left: 20px;
      }

      .cart-count {
        position: absolute;
        top: -10px;
        right: -10px;
        color: #fff;
        background-color: #ff4a52;
        border-radius: 50px;
        font-size: 10px;
        line-height: 1.8;
        text-align: center;
        font-weight: 600;
        width: 16px;
        height: 16px;
        z-index: 2;
      }

      .header-laptop-nav-item {
      }
    }
  }

  .center-wrapper {
  }
  .inner-content {
  }
  .standard-wrapper {
    padding-inline: 20px;
    text-align: center;
  }
  .standard-wrapper-title {
    color: #fff;
    letter-spacing: 0;
    font-size: 24px;
    margin-top: 10px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
  }
  .standard-wrapper-tagline {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    color: #fff;
    opacity: 0.8;
  }
  .tour-search {
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
    // border: 0;
    // background: transparent;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 2;
    position: relative;
  }
  .tour-search-wrapper {
    text-align: center;
    color: #fff;
    font-size: 13px;
    width: 100%;
  }
  .tour-search-wrapper-item {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: border-color linear 0.3s;
    margin-right: 0;
    margin-bottom: 2%;
    clear: both;
    position: relative;
    input,
    select {
      width: 100%;
      border: 0;
      box-sizing: border-box;
      color: #555;
      align-items: center;
      background-color: #fff;
      border-radius: 5px;
      font-size: 15px;
      padding: 10px 20px 10px 10px;
    }
    .search-btn {
      align-items: flex-start;
      background-color: #ff4a52;
      border-radius: 5px;
      box-shadow: #fff 0 0 0 0;
      color: #fff;
      display: inline-block;
      font-family: "Work Sans", Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.5;
      text-align: center;
      // border: 0;
    }
  }

  .tour-search-icon {
    position: absolute;
    top: 5px;
    right: 3px;
    background-color: #fff;
    color: #7f7f7f;
    font-size: 15px;
    line-height: 1;
    display: inline;
    text-align: center;
    padding: 5px;
  }

  .input-inner {
  }

  .tour-search-advance {
    a {
      color: #fff;
      text-decoration: none;
      position: absolute;
      left: 20px;
      font-family: "Work Sans", Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 1.7;
    }
  }
}

@include media-breakpoint-between(md, lg) {
  .header-nav {
    display: flex;
    width: 100%;
    padding: 0 30px 34px 30px;
    .header-logo {
      width: 50%;
    }

    .header-laptop-nav {
      display: none;
    }

    .header-nav-menu-mobile {
      width: 50%;
      text-align: right;
      .header-mobile-nav-btn {
        color: #fff;
        background-color: transparent;
        border: 0;
      }
      a {
        // color: #fff;
      }
      .header-cart-wrapper {
        position: relative;
        display: inline-block;
        margin-left: 20px;
      }

      .cart-count {
        position: absolute;
        top: -6px;
        right: -10px;
        color: #fff;
        background-color: #ff4a52;
        border-radius: 50px;
        font-size: 10px;
        line-height: 1.8;
        text-align: center;
        font-weight: 600;
        width: 16px;
        height: 16px;
        z-index: 2;
      }

      .header-laptop-nav-item {
      }
    }
  }

  .center-wrapper {
    padding-top: 180px;
  }
  .inner-content {
  }
  .standard-wrapper {
    padding-inline: 0px;
    text-align: center;
  }
  .standard-wrapper-title {
    color: #fff;
    letter-spacing: 0;
    font-size: 36px;
    margin-top: 10px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
  }
  .standard-wrapper-tagline {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    color: #fff;
    opacity: 0.8;
  }
  .tour-search {
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 2;
    position: relative;
  }
  .tour-search-wrapper {
    text-align: center;
    color: #fff;
    font-size: 13px;
    width: 100%;
    display: flex;
    column-gap: 20px;
  }
  .tour-search-wrapper-item {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: border-color linear 0.3s;
    margin-right: 0;
    margin-bottom: 2%;
    position: relative;
    input,
    select {
      width: 100%;
      border: 0;
      height: 40px;
      box-sizing: border-box;
      color: #555;
      align-items: center;
      background-color: #fff;
      border-radius: 5px;
      font-size: 15px;
      padding: 10px 20px 10px 10px;
    }
    .search-btn {
      align-items: flex-start;
      background-color: #ff4a52;
      border-radius: 5px;
      box-shadow: #fff 0 0 0 0;
      color: #fff;
      display: inline-block;
      font-family: "Work Sans", Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.5;
      text-align: center;
      // border: 0;
    }
  }

  .tour-search-icon {
    position: absolute;
    top: 5px;
    right: 3px;
    background-color: #fff;
    color: #7f7f7f;
    font-size: 15px;
    line-height: 1;
    display: inline;
    text-align: center;
    padding: 5px;
  }

  .input-inner {
  }

  .tour-search-advance {
    a {
      color: #fff;
      text-decoration: none;
      position: absolute;
      bottom: -10px;
      left: 20px;
      font-family: "Work Sans", Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 1.7;
    }
  }
}

@include media-breakpoint-up(lg) {
  .header-nav {
    display: flex;
    width: 100%;
    padding: 0 30px 34px 30px;
    .header-logo {
      width: 10%;
    }

    .header-laptop-nav {
      width: 85%;
    }

    .header-nav-menu-mobile {
      width: 5%;
      text-align: right;
      .header-mobile-nav-btn {
        color: #fff;
        background-color: transparent;
        border: 0;
      }
      a {
        // color: #fff;
        i {
          font-size: 15px;
        }
      }
      .header-cart-wrapper {
        position: relative;
        display: inline-block;
        margin-left: 15px;
      }

      .cart-count {
        position: absolute;
        top: -6px;
        right: -10px;
        color: #fff;
        background-color: #ff4a52;
        border-radius: 50px;
        font-size: 10px;
        line-height: 1.8;
        text-align: center;
        font-weight: 600;
        width: 16px;
        height: 16px;
        z-index: 2;
      }
    }
  }
  // begin laptop navigation
  .header-laptop-nav {
  }
  .header-laptop-nav-list {
    text-align: right;
    a {
      color: #fff;
      font-size: 13px;
      text-decoration: none;
      font-family: "Poppins", Arial, Helvetica, sans-serif;
      font-weight: 500;
      line-height: 1.6;
    }
  }
  .header-laptop-nav-item {
    display: inline-block;
    padding-right: 25px;
    a {
      // padding-right: 10px;
      i {
        padding-left: 10px;
      }
    }
  }
  .dropdown {
  }

  .dropdown:hover .content_dropdown {
    display: block;
  }

  .button_dropdown {
  }

  .content_dropdown {
    list-style: none;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    position: absolute;
    z-index: 3;
    width: 240px;
    padding-inline: 20px;
    text-align: left;
    li {
      padding-block: 10px;
      border-bottom: 1px solid #ccc;
      display: block;
    }
    li:last-child {
      border-bottom: 0px solid #ccc;
    }
    a {
      color: #000;
      font-size: 13px;
      text-decoration: none;
      font-family: "Poppins", Arial, Helvetica, sans-serif;
      font-weight: 500;
      line-height: 1.6;
      // margin: 0 20px;
      padding: 10px 0;
      // float: left;
    }
    i {
      // float: right;
      position: relative;
      bottom: -5px;
    }
  }

  .content_dropdown a:hover {
    color: #ff4a52;
  }

  #dropdown-content {
  }

  .dropdown ul li {
    position: relative;
  }

  .dropdown ul li:hover #submenu {
    display: block;
    z-index: 2;
    position: absolute;
    left: 222px;
    top: 0;
  }

  //submenu
  #submenu {
    list-style: none;
    display: none;
    position: absolute;
    right: -125px;
    background-color: #fff;
    border-radius: 5px;
    width: 240px;
    padding-inline: 20px;
    ul {
    }
    li {
      text-align: left;
      width: 100%;
    }
    a {
      padding-left: 0;
      margin-left: 0;
    }
  }
  #submenu a:hover {
    color: #ff4a52;
  }

  // end laptop navigation
  .center-wrapper {
    padding-top: 180px;
  }
  .inner-content {
  }
  .standard-wrapper {
    padding-inline: 0px;
    text-align: center;
  }
  .standard-wrapper-title {
    color: #fff;
    letter-spacing: 0;
    font-size: 36px;
    margin-top: 10px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
  }
  .standard-wrapper-tagline {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    color: #fff;
    opacity: 0.8;
  }
  .tour-search {
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 2;
    position: relative;
  }
  .tour-search-wrapper {
    text-align: center;
    color: #fff;
    font-size: 13px;
    width: 100%;
    display: flex;
    column-gap: 20px;
  }
  .tour-search-wrapper-item {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: border-color linear 0.3s;
    margin-right: 0;
    margin-bottom: 2%;
    position: relative;
    input,
    select {
      width: 100%;
      border: 0;
      height: 40px;
      box-sizing: border-box;
      color: #555;
      align-items: center;
      background-color: #fff;
      border-radius: 5px;
      font-size: 15px;
      padding: 10px 20px 10px 10px;
    }
    .search-btn {
      align-items: flex-start;
      background-color: #ff4a52;
      border-radius: 5px;
      box-shadow: #fff 0 0 0 0;
      color: #fff;
      display: inline-block;
      font-family: "Work Sans", Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 1.5;
      text-align: center;
      // border: 0;
    }
  }

  .tour-search-icon {
    position: absolute;
    top: 5px;
    right: 3px;
    background-color: #fff;
    color: #7f7f7f;
    font-size: 15px;
    line-height: 1;
    display: inline;
    text-align: center;
    padding: 5px;
  }

  .input-inner {
  }

  .tour-search-advance {
    a {
      color: #fff;
      text-decoration: none;
      position: absolute;
      bottom: -10px;
      left: 20px;
      font-family: "Work Sans", Arial, Helvetica, sans-serif;
      font-size: 13px;
      line-height: 1.7;
    }
  }
}
