@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$color-white: #fff;
$color-red: #ff4a52;
$MainFont: "Poppins", Arial, Helvetica, sans-serif;
$color-black: #000;

@include media-breakpoint-down(md) {
  .open, .option-menu{
    display: none;
  }
}
@include media-breakpoint-up(md) {
  #option-wrapper {
    display: none;
  }
  // circle color
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 250px;
    margin: auto;
  }

  .open {
    text-align: center;
    transform: translate(0, 0);
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    z-index: 9999;
    box-shadow: -1px 1px 10px rgba (0, 0, 0, 0.1);
    overflow: auto;
    height: 100%;
    color: #222;
    line-height: 1.5;
    font-size: 14px;
    // margin-bottom: 100px;
    background-color: $color-white;
    ul {
      list-style: none;
      display: inline;
      padding-inline: 0;
      margin: 30px 0 20px 0;
      box-sizing: border-box;
    }
    li {
      display: inline-block;
    }
    img {
      height: 85px;
      width: 153px;
      margin-inline: 0;
    }
    h6 {
      font-family: $MainFont;
      font-weight: 600;
      font-size: 15px;
      line-height: 1.4;
      margin: 10px 0 0 0;
    }
    p {
      box-sizing: border-box;
      font-family: "Work Sans";
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      margin-block: 10px 0;
      padding: 0 10px;
      color: #222;
      opacity: 0.7;
      text-align: center;
    }
  }
  .inner {
    padding: 25px 15px 25px;
    box-sizing: border-box;
  }

  .inner-content-list {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 2fr;
    gap: 16px 15px;
    margin-block: 30px;
  }

  .inner-content-list-color {
    li {
      margin-inline: 5px;
      margin-block: 30px 20px;
    }
  }

  .inner-content-img {
  }
  // mybtn

  .option-menu {
    border: 0;
    display: block;
    color: #222;
    position: fixed;
    top: 150px;
    right: 0px;
    cursor: pointer;
    z-index: 9;
    background: #fbfbfb;
    border-right: 0;
    width: 40px;
    height: 145px;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    line-height: 1.4;
    button{
      padding: 0;
    }
    a {
      color: $color-black;
      display: block;
      padding-block: 6px;
    }
  }
}
