@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(md) {
  .open {
    display: none; 
  }

  #myBtn {
    display: none;
  }
}
@include media-breakpoint-up(md) {
  // circle color
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 250px;
    margin: auto;
  }
  
#option-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 360px;
    width: 350px;
    z-index: 9999;
    box-shadow: -1px 1px 10px rgba (0, 0, 0, 0.1);
    overflow: auto;
    height: 100%;
    color: #222;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 1000px;
    background-color: #fff;
    .open {
      transform: translate(0, 0);
    }
  }

  .open {
    text-align: center;
    ul {
      list-style: none;
      display: inline;
      padding-inline: 0;
      margin: 30px 0 20px 0;
      box-sizing: border-box;
    }
    li {
      display: inline-block;
    }
    img {
      height: 85px;
      width: 153px;
      margin-inline: 0;
    }
    h6 {
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.4;
      margin-block: 30px;
    }
    p {
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 1.5;
      margin: 10px 0 25px 0;
      padding: 0 10px;
      color: #656565;
    }
  }
  .inner {
    padding: 25px 15px 25px;
    box-sizing: border-box;
  }

  .inner-content-list {
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 2fr;
    row-gap: 10px;
  }

  .inner-content-list-color {
    li {
      margin-inline: 5px;
    }
  }

  .inner-content-img {
  }
  // mybtn
  #myBtn {
    border: 0;
    height: 125px;
      .open {
        transform: translate(-351px,0);
    }
    a {
        display: block;
        color: #222;
    }
    position: fixed;
    top: 150px;
    right: -2px;
    cursor: pointer;
    z-index: 9;
    background: #FBFBFB;
    border-right: 0;
    width: 40px;
    height: 120px;
    padding: 10px 0 10px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 3px 15px rgba(0,0,0,.1);
    line-height: 1.4;
  }
.myBtn {
    // display: block;
}

}
