@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$color-white: #fff;

.top-to-btn {
  position: relative;
}

@include media-breakpoint-up(md){
  .icon-position {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 20;
  }
}

@include media-breakpoint-down(md){
  .icon-position {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
  }
}

.myStyleBtn {
  background-color: #1EC7B6;
  border-radius: 25px;
  height: 45px;
  width: 45px;
  color: $color-white;
  font-size: 13px;
  line-height: 1.7;
  padding: 10px;
  text-align: center;
  border: 0;
  font-weight: 600;
}

.myStyleBtn:hover{
  margin-bottom: 10px;
}

// .myStyleBtn {
//   background-color: #1EC7B6;
//   border-radius: 50%;
//   height: 50px;
//   width: 50px;
//   color: #fff;
//   cursor: pointer;
//   // animation: movebtn 3s ease-in-out infinite;
//   // transition: all 0.5s ease-in-out;
// }
// .myStyleBtn:hover {
//   // animation: none;
//   // background: #fff;
//   margin-bottom: 20px;
//   // color: #551b54;
//   // border: 2px solid #551b54;
// }
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
